- var v = viagem || {};
- var p = percurso || {};

form(action='#{p._id ? "/percurso/" + p._id + "?_method=PUT" : "/percurso/"}' method='post')
    input(name='viagem.id' type='hidden' value='#{v._id || ""}')
    input(name='id' type='hidden' value='#{p._id || ""}')

    .row
        .form-group.col-md-3
            label(for='data') Data
            .input-group.date-picker
                input#data.form-control(name='data' type='text' placeholder='Data'
                    value='#{DateUtils.toString(p.data)}')
                .input-group-addon
                    span.glyphicon.glyphicon-calendar
        .form-group.col-md-3
            label(for='descricao-despesa') Descrição das Despesas
            input#descricao-despesa.form-control(name='descricao_despesa' type='text' placeholder='Descrição Despesas' value='#{p.descricao_despesa || ""}')
        .form-group.col-md-3
            label(for='passagem-aerea') Passagem Aérea
            input#passagem-aerea.currency.form-control(name='passagem_aerea' type='text' placeholder='Passagem Aérea' value='#{p.passagem_aerea || ""}')
        .form-group.col-md-3
            label(for='hospedagem') Hospedagem
            input#hospedagem.currency.form-control(name='hospedagem' type='text' placeholder='Hospedagem' value='#{p.hospedagem || ""}')
        .form-group.col-md-3
            label(for='transporte-terrestre') Transporte Terrestre
            input#transporte-terrestre.currency.form-control(name='transporte_terrestre' type='text' placeholder='Transporte Terrestre' value='#{p.transporte_terrestre || ""}')
        .form-group.col-md-3
            label(for='refeicoes') Refeições
            input#refeicoes.currency.form-control(name='refeicoes' type='text' placeholder='Refeições' value='#{p.refeicoes || ""}')
        .form-group.col-md-3
            label(for='conferencias') Conferências
            input#conferencias.currency.form-control(name='conferencias' type='text' placeholder='Conferências' value='#{p.conferencias || ""}')
        .form-group.col-md-3
            label(for='diversos') Diversos
            input#diversos.currency.form-control(name='diversos' type='text' placeholder='Diversos' value='#{p.diversos || ""}')
        .form-group.col-md-3
            label(for='taxa-cambial') Taxa Cambial
            input#taxa-cambial.form-control(name='taxa_cambial' type='number' placeholder='Taxa Cambial' value='#{p.taxa_cambial || ""}')
        .form-group.col-md-3
            label(for='quilometros') Quilômetros
            input#quilometros.form-control(name='quilometros' type='number' placeholder='Quilometros' value='#{p.quilometros || ""}')
        .form-group.col-md-3
            label(for='moeda') Moeda
            input#moeda.form-control(name='moeda' type='text' placeholder='Moeda' value='#{p.moeda || ""}')
    block percurso-buttons