extends layouts/default

block stylesheets

block javascripts

block content
    include includes/messages

    .panel.panel-primary
        .panel-heading
            h3.panel-title Informações Básicas
        .panel-body
            include includes/viagem-form
                block viagem-buttons
                    button.btn.btn-primary(type='submit') Salvar&nbsp
                        span.glyphicon.glyphicon-floppy-saved(aria-hidden='true')
                    form(action='/#{viagem._id}?_method=DELETE' method='POST')
                        button.btn.btn-danger(type='submit' title='Excluir') Excluir&nbsp;
                            span.glyphicon.glyphicon-floppy-remove(aria-hidden='true')
    
    .panel.panel-primary
        .panel-heading Itinerário
            .pull-right
                button.btn.btn-default.btn-xs(data-toggle='collapse' data-target="#criar-percurso-body") Criar Percurso&nbsp
                    span.glyphicon.glyphicon-plus(aria-hidden='true')
        .panel-body#criar-percurso-body.collapse
            include includes/percurso-form
                block percurso-buttons
                    button.btn.btn-primary(type='submit') Salvar&nbsp
                        span.glyphicon.glyphicon-floppy-saved(aria-hidden='true')

        .table-responsive
            table.table.table-bordered.table-hover
                thead
                    tr.active
                        th Data
                        th Descrição das Despesas
                        th Passagem Aérea
                        th Hospedagem
                        th Transporte Terrestre
                        th Refeições
                        th Conferências
                        th Reembolso Quilometragem
                        th Diversos
                        th Taxa Cambial
                        th Quilometros
                        th Moeda
                        th Total
                        th
                tbody(style='white-space: nowrap;')
                    each percurso in viagem.percursos
                        tr
                            td= DateUtils.toString(percurso.data)
                            td= percurso.descricao_despesa
                            td= CurrencyUtils.format(percurso.passagem_aerea / 100)
                            td= CurrencyUtils.format(percurso.hospedagem / 100)
                            td= CurrencyUtils.format(percurso.transporte_terrestre / 100)
                            td= CurrencyUtils.format(percurso.refeicoes / 100)
                            td= CurrencyUtils.format(percurso.conferencias / 100)
                            - var totalQuilometragem = ((percurso.quilometros || 0) * (viagem.taxa_quilometragem || 0));
                            td= CurrencyUtils.format(totalQuilometragem / 100)
                            td= CurrencyUtils.format(percurso.diversos / 100)
                            td= percurso.taxa_cambial
                            td= percurso.quilometros
                            td= percurso.moeda
                            td= CurrencyUtils.format((percurso.passagem_aerea + percurso.hospedagem + percurso.transporte_terrestre + percurso.refeicoes + percurso.conferencias + totalQuilometragem + percurso.diversos) / 100)
                            td(width='1%')
                                form(action='/percurso/#{percurso._id}?_method=DELETE' method='POST')
                                    button.btn.btn-danger.btn-xs(type='submit' title='Excluir') Excluir&nbsp;
                                        span.glyphicon.glyphicon-floppy-remove(aria-hidden='true')
        .panel-footer
            a.btn.btn-danger
                | PDF&nbsp
                span.fa.fa-file-pdf-o
            a.btn.btn-success(disabled)
                | Excel&nbsp
                span.fa.fa-file-excel-o