extends layouts/default

block stylesheets

block javascripts

block content
    include includes/messages

    .panel.panel-primary
        .panel-heading
            h3.panel-title Informações Básicas
        .panel-body
            include includes/viagem-form
                block viagem-buttons
                    button.btn.btn-primary(type='submit') Salvar&nbsp
                        span.glyphicon.glyphicon-floppy-saved(aria-hidden='true')
                    form(action='/#{viagem._id}?_method=DELETE' method='POST')
                        button.btn.btn-danger(type='submit' title='Excluir') Excluir&nbsp;
                            span.glyphicon.glyphicon-floppy-remove(aria-hidden='true')
    
    .panel.panel-primary
        .panel-heading Itinerário
            .pull-right
                button.btn.btn-default.btn-xs(data-toggle='collapse' data-target="#criar-percurso-body") Criar Percurso
        .panel-body#criar-percurso-body.collapse
            include includes/percurso-form
                block percurso-buttons
                    button.btn.btn-primary(type='submit') Salvar&nbsp
                        span.glyphicon.glyphicon-floppy-saved(aria-hidden='true')

        .table-responsive
            table.table.table-bordered.table-hover
                thead
                    tr.active
                        th Data
                        th Descrição das Despesas
                        th Passagem Aérea
                        th Hospedagem
                        th Transporte Terrestre
                        th Refeições
                        th Conferências
                        th Reembolso Quilometragem
                        th Diversos
                        th Taxa Cambial
                        th Quilometros
                        th Moeda
                        th
                tbody
                    each percurso in viagem.percursos
                        tr
                            td= DateUtils.toString(percurso.data)
                            td= percurso.descricao_despesa
                            td= percurso.passagem_aerea
                            td= percurso.hospedagem
                            td= percurso.transporte_terrestre
                            td= percurso.refeicoes
                            td= percurso.conferencias
                            td= percurso.reembolso_quilometragem
                            td= percurso.diversos
                            td= percurso.taxa_cambial
                            td= percurso.quilometros
                            td= percurso.moeda
                            td(width='1%')
                                form(action='/percurso/#{percurso._id}?_method=DELETE' method='POST')
                                    button.btn.btn-danger.btn-xs(type='submit' title='Excluir') Excluir&nbsp;
                                        span.glyphicon.glyphicon-floppy-remove(aria-hidden='true')

        // .panel-footer
        //     .row.text-center
        //         .col-lg-12
        //             include includes/pagination