extends layouts/default

block stylesheets

block javascripts

block content
    include includes/messages
    
    .panel.panel-primary
        .panel-heading Listagem de Itinerários
            .pull-right
                button.btn.btn-default.btn-xs(data-toggle='collapse' data-target="#criar-itinerario-body") Criar Itinerário&nbsp
                    span.glyphicon.glyphicon-plus(aria-hidden='true')
        .panel-body#criar-itinerario-body.collapse
            include includes/viagem-form
                block viagem-buttons
                    button.btn.btn-primary(type='submit') Salvar&nbsp
                        span.glyphicon.glyphicon-floppy-saved(aria-hidden='true')
                    button.btn.btn-default(type='reset') Limpar&nbsp
                        span.glyphicon.glyphicon-erase(aria-hidden='true')

        .table-responsive
            table.table.table-bordered.table-hover
                thead
                    tr.info
                        th Nome
                        th Setor
                        th Destino
                        th Ida
                        th Volta
                        th
                        th
                tbody
                    each viagem in viagens
                        tr
                            td= viagem.nome
                            td= viagem.departamento
                            td= viagem.destino
                            td= DateUtils.toString(viagem.data_envio)
                            td= DateUtils.toString(viagem.data_retorno)
                            td(width='1%')
                                a.btn.btn-success.btn-xs(href='/#{viagem._id}' title='Editar') Editar&nbsp;
                                    span.glyphicon.glyphicon-edit(aria-hidden='true')
                            td(width='1%')
                                form(action='/#{viagem._id}?_method=DELETE' method='POST')
                                    button.btn.btn-danger.btn-xs(type='submit' title='Excluir') Excluir&nbsp;
                                        span.glyphicon.glyphicon-floppy-remove(aria-hidden='true')

        .panel-footer
            a.btn.btn-danger(href='/print/viagens' target='_blank')
                | Relatório&nbsp
                span.glyphicon.glyphicon-list-alt
            .row.text-center
                .col-lg-12
                    include includes/pagination