extends layouts/default

block stylesheets

block javascripts

block content
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/')
            img.nav-logo(src='/static/images/main.png' alt='Controle de Viagens')
          a.navbar-brand(href='/') Controle de Viagens

    .container

      include includes/messages
      
      .panel.panel-default
        .panel-heading Criar Itinerário
        .panel-body
          form(method='post')
            input(name='id' type='hidden')

            .row
              .form-group.col-md-4
                label(for='nome') Nome
                input#nome.form-control(name='nome' type='text' placeholder='Nome' required)
              .form-group.col-md-4
                label(for='departamento') Departamento
                input#departamento.form-control(name='departamento' type='text' placeholder='Departamento')
              .form-group.col-md-4
                label(for='autorizado-por') Autorizado Por
                input#autorizado-por.form-control(name='autorizado_por' type='text' placeholder='Autorizado Por')
              .form-group.col-md-4
                label(for='data-envio') Data de Envio
                .input-group.date-picker
                  input#data-envio.form-control(name='data_envio' type='text' placeholder='Data de Envio')
                  .input-group-addon
                    span.glyphicon.glyphicon-calendar
              .form-group.col-md-4
                label(for='periodo') Período
                .input-group.date-picker
                  input#periodo.form-control(name='periodo' type='text' placeholder='Período')
                  .input-group-addon
                    span.glyphicon.glyphicon-calendar

            button.btn.btn-primary(type='submit') Salvar
            button.btn.btn-default(type='reset') Limpar

        .table-responsive
          table.table.table-bordered.table-hover
            thead
              tr.active
                th Nome
                th Departamento
                th Autorizado Por
                th Data de Envio
                th Período
                th
                th
            tbody
              each viagem in viagens
                tr
                  td= viagem.nome
                  td= viagem.departamento
                  td= viagem.autorizado_por
                  td= viagem.data_envio ? moment(viagem.data_envio.toString()).format('DD/MM/YYYY') : ''
                  td= viagem.periodo ? moment(viagem.periodo.toString()).format('DD/MM/YYYY') : ''
                  td(width='1%')
                    a.btn.btn-success.btn-xs(href='/#{viagem._id}' title='Editar') Editar&nbsp;
                      span.glyphicon.glyphicon-edit(aria-hidden='true')
                  td(width='1%')
                    form(action='/#{viagem._id}?_method=DELETE' method='POST')
                      button.btn.btn-danger.btn-xs(type='submit' title='Excluir') Excluir&nbsp;
                        span.glyphicon.glyphicon-floppy-remove(aria-hidden='true')

        .panel-footer
          .row.text-center
            .col-lg-12
                include includes/pagination
    //.container