extends ../layouts/report

block stylesheets

block javascripts

block content
    h1.text-center Relatório de Despesas de Viagem
    hr

    .row
        .col-xs-12
            .row
                // 1
                .col-xs-6.col-sm-3
                    strong
                        p.text-right Nome
                .col-xs-6.col-sm-3
                    p #{viagem.nome}
                    
                .clearfix.visible-xs-block
                    
                // 2
                .col-xs-6.col-sm-3
                    strong
                        p.text-right Autorizado Por
                .col-xs-6.col-sm-3
                    p #{viagem.autorizado_por}
    .row
        .col-xs-12
            .row
                // 1
                .col-xs-6.col-sm-3
                    strong
                        p.text-right Departamento
                .col-xs-6.col-sm-3
                    p #{viagem.departamento}
                    
                .clearfix.visible-xs-block
                    
                // 2
                .col-xs-6.col-sm-3
                    strong
                        p.text-right Data de Envio
                .col-xs-6.col-sm-3
                    p #{DateUtils.toString(viagem.data_envio)}
    .row
        .col-xs-12
            .row
                // 1
                .col-xs-6.col-sm-3
                    strong
                        p.text-right Período
                .col-xs-6.col-sm-3
                    p #{DateUtils.toString(new Date())}
    
    hr
            
    .row
        .col-xs-12
            table.table.table-bordered.table-hover
                thead
                    tr.active
                        th Data
                        th Descrição das Despesas
                        th Passagem Aérea
                        th Hospedagem
                        th Transporte Terrestre
                        th Refeições
                        th Conferências
                        th Reembolso Quilometragem
                        th Diversos
                        th Taxa Cambial
                        th Quilômetros
                        th Moeda
                        th Total
                tbody
                    - var totais = [];
                    each percurso in viagem.percursos
                        tr
                            td= DateUtils.toString(percurso.data)
                            td= percurso.descricao_despesa
                            td.nowrap= CurrencyUtils.format(percurso.passagem_aerea / 100)
                            td.nowrap= CurrencyUtils.format(percurso.hospedagem / 100)
                            td.nowrap= CurrencyUtils.format(percurso.transporte_terrestre / 100)
                            td.nowrap= CurrencyUtils.format(percurso.refeicoes / 100)
                            td.nowrap= CurrencyUtils.format(percurso.conferencias / 100)
                            - var totalQuilometragem = ((percurso.quilometros || 0) * (viagem.taxa_quilometragem || 0));
                            td.nowrap= CurrencyUtils.format(totalQuilometragem / 100)
                            td.nowrap= CurrencyUtils.format(percurso.diversos / 100)
                            td= percurso.taxa_cambial
                            td= percurso.quilometros
                            td= percurso.moeda
                            - var total = ((percurso.passagem_aerea + percurso.hospedagem + percurso.transporte_terrestre + percurso.refeicoes + percurso.conferencias + totalQuilometragem + percurso.diversos) / 100) * (percurso.taxa_cambial || 0)
                            - totais.push(total);
                            td.nowrap= CurrencyUtils.format(total)
                tfoot.bold
                    tr.active
                        td Total
                        td
                        td.nowrap= CurrencyUtils.format(ArrayUtils.sum(viagem.percursos, 'passagem_aerea') / 100)
                        td.nowrap= CurrencyUtils.format(ArrayUtils.sum(viagem.percursos, 'hospedagem') / 100)
                        td.nowrap= CurrencyUtils.format(ArrayUtils.sum(viagem.percursos, 'transporte_terrestre') / 100)
                        td.nowrap= CurrencyUtils.format(ArrayUtils.sum(viagem.percursos, 'refeicoes') / 100)
                        td.nowrap= CurrencyUtils.format(ArrayUtils.sum(viagem.percursos, 'conferencias') / 100)
                        - var totalQuilometragem = ((ArrayUtils.sum(viagem.percursos, 'quilometros') || 0) * (viagem.taxa_quilometragem || 0));
                        td.nowrap= CurrencyUtils.format(totalQuilometragem / 100)
                        td.nowrap= CurrencyUtils.format(ArrayUtils.sum(viagem.percursos, 'diversos') / 100)
                        td
                        td.nowrap= ArrayUtils.sum(viagem.percursos, 'quilometros')
                        td
                        td.nowrap= CurrencyUtils.format(ArrayUtils.sum(totais))